.App 
{
  text-align: center;
}

.App-logo 
{
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link
{
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1
{
  text-align: center;
  font-size: 8rem;
  font-family:'Courier New', Courier, monospace;
  color: rgba(210, 105, 30, 0.781);
}

h2
{
  margin: 2rem;

}
.MovieList
{
  color: white;
  font-size: 2rem;
}

a
{
  font-size: 3rem;
  color: brown;
}

body
{
  background-color: rgb(44, 44, 44);
}

.navbar
{
  overflow: hidden;
}

.navbar a
{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.image
{
  width: 100%;
  margin: auto;
  border-radius: 30px;
}

.titre
{
  text-align: center;
  size: 50px;
}

.container
{
  flex-wrap: wrap;
  display: flex;
  flex-flow: column wrap;
}

.item 
{
  justify-content: center;
  width: 300px;
  height: 500px;
}


ul 
{
  display: flex;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.315);
  text-decoration: none;
}

li 
{
  float: left;
}

li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover
{
  background-color: #111;
}


.nav
{
  align-content: flex-end;
  color: rgb(14, 12, 12);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 750px;
}

.logo
{
  width: 60px;
  cursor: pointer;
}


.poster
{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 110px 10px;
  margin-left: 35px;

}

.poster div
{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image
{
  width: 85%;
  border-radius: 10px;
}

.information
{
  color: white;
  text-align: left;
  font-size: 150%;
}

#titre
{
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

.backdrop
{
  display: block;
  margin: auto;
  width: 55%;
  border-radius: 50px;
}